@page
@model Office__Portal.Pages.Shifts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shift</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shift.Staff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.Staff.First_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shift.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.Department.Department_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shift.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shift.Total_Hours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.Total_Hours)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Shift.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
