@page
@model Office__Portal.Pages.Shifts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shift[0].Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift[0].Total_Hours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Shift) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Department_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Hours)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
